NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=postgresql://postgres:postgres@db/snap-sorter
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=snap-sorter